@import "../../styles/all.scss";

.btn-red {
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $colorRed;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid $colorRed;
    border-radius: 2px;
    padding: 23px 63px;
}