@import "../../styles/all.scss";

.btn-green {
    background: $colorGreen;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 38px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.btn-count {
    background: $colorWhite;  
    border: 1px solid #E7EAEF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 14px 0 14px;
}