<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Students</title>
</head>
<body>
    <div id="root">
        <div class="wrapper-all" style="display: flex; justify-content: center;">
            <div class="chart" style="position: relative; height: 80vh; width: 75vw;">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</body>
</html>