.to-do__input {
    border: none;
    background-color: #2f3d6e;
    font-size: 18px;
    color: white;
    padding: 20px;
    width: 60%;
}
.to-do__input::placeholder {
    color: rgb(104, 103, 146);
}