*, html, body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    // background: url("../../img/Grosser_Panda.jpeg") #000000e3;
    height: 10000px;
}