* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1172px;
    min-width: 375px;
    margin: 0 auto;
}

.container--large {
    max-width: 1800px;
}

.btn-blue {
    background: #0074D4;
    box-shadow: 0px 43px 51px rgba(0, 116, 212, 0.2), 0px 12.9632px 15.375px rgba(0, 116, 212, 0.241), 0px 5.38427px 6.38599px rgba(0, 116, 212, 0.15), 0px 1.94738px 2.30969px rgba(0, 116, 212, 0.059);
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 38px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.btn-grey {
    background: #F3F4F7;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}