*, html, body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper {
    max-width: 770px;
    display: flex;
    align-items: flex-start;
}