$colorBlueBg: #4cb1ca;
$colorBlueMiddleBg: #39a0b9;
$colorBlueTxt: #bff2ff;
$colorWhite: #FFFFFF;
$colorGreyText: #656565;
$colorGreen: #7db122;
$colorGreyLight: #cdcdcd;
$colorGreyDark: #635f57;
$colorBlackLight: #464148;
$colorBlueDarkBg: #0b4b5a;
$colorGreyLightFooter: #f5f5f5;
$colorGreyOpasity: rgba(27, 25, 28, 0.7);
$colorGreyItem: rgba(27, 25, 28, 0.3);
