$gradientWhiteHeader: rgba(255, 255, 255, 0.85);
$colorGreyText: #2A2A2A;
$colorRed: #C31815;
$colorBlue: #0E1E32;


$gradientBg: linear-gradient(124.78deg, #241248 0%, #381150 49.48%, #651167 100%);
$colorWhite: #FFFFFF;
$colorPink: #F200CB;
$colorViolet: #a900ff;

$colorDarkGrey: #141414;
