.basket__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 985px;
    border-bottom: 1px solid #F3F4F7;
    padding: 10px 0;
    &-title {
        font-size: 20px;
        line-height: 130%;
        color: #2B3350;
    }
    &-txt {
        font-size: 16px;
        line-height: 130%;
        color: #959AAE;
    }
    &-price-new {
        font-weight: 700;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #2B3350;
    }
    &-price-old {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #2B3350;
        text-decoration: line-through 3px rgb(245, 77, 53);
    }
}