*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #12103c;
}

.to-do {
  display: flex;
  width: 100%;
  flex-direction: column;
}