.drive {
    .btn-blue {
        padding: 26px 50px 30px 50px;
    }
    background-image: url(../../../img/test-drive.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 630px;
        position: relative;
    }
    &__description {
        margin-bottom: 80px;
    }
    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 120%;
        color: #2B3350;
        max-width: 682px;
    }
    &__text {
        font-size: 19px;
        line-height: 160%;
        color: #576077;
        margin: 16px 0 31px 0;
        max-width: 578px;
    }
    &__img {
        position: absolute;
        bottom: 88px;
        left: 656px;
    }
}