.mdc-data-table__header-cell {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.mdc-data-table {
    width: 100%;
}
.mdc-data-table__cell {
    text-align: center;
}
.mdc-data-table__cell:first-child {
    font-weight: bold;
}
